{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('mmphoto', array('op' => 'post'));}">添加桌位</a></li>
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('mmphoto', array('op' => 'display'));}">桌位列表</a></li>
</ul>
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
</style>
{if $op == 'display'}
<div class="main">
	<div style="padding:15px;">
		<table class="table table-hover table-striped">
			<thead class="navbar-inner">
				<tr>
					<th style="width:60px">桌位编号</th>
					<th style="width:100px;">桌位名称</th>
					<th style="width:180px;">可坐人数</th>
					<th style="width:180px;">桌位数量</th>
					<th style="width:100px;text-align:right;">操作</th>
				</tr>
			</thead>
			<tbody>
					{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td>{$item['tableName']}</td>
					<td>{$item['tableSize']}</td>
					<td>{$item['tableAmount']}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('mmphoto', array('op' => 'post', 'id' => $item['id']))}" title="编辑" class="btn btn-mini"><i class="icon-edit"></i></a>
						<a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('mmphoto', array('op' => 'del', 'id' => $item['id']))}" title="删除" class="btn btn-mini"><i class="icon-remove"></i></a>
					</td>
				</tr>
				
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
{elseif $op == 'post'}
<div class="main">
	<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item[id]}">
		<h4>桌位管理</h4>
		<table class="tb">
			<tr>
				<th><label for="">选择活动名称</label></th>
				<td>
					<select name="reid" class="span6">
						{loop $researchList $v}
						<option value="{$v['reid']}"{if $item['reid'] == $v['reid']} selected="selected"{/if}>{$v['title']}</option>
						{/loop}
					</select>
				</td>
			</tr>
			<tr>
				<th><label for="">桌位名称</label></th>
				<td>
					<input type="text" class="span4" placeholder="" name="tableName" value="{$item['tableName']}">
					<span class="help-block">填写桌位的名称</span>
				</td>
			</tr>
			
			
			<tr>
				<th><label for="">桌位图片</label></th>
				<td>
					{php echo tpl_form_field_image('img', $item['img'] =='' ? "" : $item['img']);}
					<span class="help-block">上传桌位图片,支持本地或网络图片</span>
				</td>
			</tr>
			<tr>
				<th><label for="">可坐人数</label></th>
				<td>
					<input type="text" class="span3" placeholder="" name="tableSize" value="{$item['tableSize']}">
					<span class="help-block">填写桌位可以坐下的人数</span>
				</td>
			</tr>
			<tr>
				<th><label for="">桌位数量</label></th>
				<td>
					<input type="text" class="span3" placeholder="" name="tableAmount" value="{$item['tableAmount']}">
					<span class="help-block">填写桌位的数量，必须是数字</span>
				</td>
			</tr>
			<tr>
				<th>附加信息,用于图文模式详细页面</th>
				<td>
					<textarea style="height:200px; width:80%;" class="span7 richtext-clone" name="txt" cols="70" id="reply-add-text">{$item['txt']}</textarea>
				</td>
			</tr>
		</table>

		<table class="tb">
			<tr>
				<th></th>
				<td>
					<button type="submit" class="btn btn-primary span3" name="submit" value="提交">保存</button>
				
					<input type="hidden" name="token" value="{$_W['token']}" />
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript">
<!--
	kindeditor($('.richtext-clone'));
//-->
</script>
{/if}
{template 'common/footer'}
