{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'top'}class="active"{/if}><a href="{php echo $this->createWebUrl('buyflower', array('op' => 'top'));}">排行榜</a></li>
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('buyflower', array('op' => 'display'));}">送花列表</a></li>
</ul>
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
</style>
{if $op == 'display'}
<div class="main">
	<div style="padding:15px;">
		<table class="table table-hover table-striped">
			<thead class="navbar-inner">
				<tr>
					<th >编号</th>
					<th >歌手ID</th>
					<th >歌手名字</th>
					<th >送花数量</th>
					<th >赠送人</th>
					<th >赠送时间</th>
					<th >状态</th>
					<th style="text-align:right;">操作</th>
				</tr>
			</thead>
			<tbody>
					{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td>{$item['singer_id']}</td>
					<td>{$item['singer_name']}</td>
					<td>{$item['send_amount']} (SGD)</td>
					<td>{$item['send_by']}</td>
					<td>{php echo date('Y-m-d H:i:s', $item['createtime'])}
					</td>
					<td>
					{if $item['status']== 'P'}未发放{else}已发放{/if}
					</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('buyflower', array('op' => 'update', 'id' => $item['id']))}" title="发放" class="btn btn-mini"><i class="icon-hand-right"></i></a>
						<a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('buyflower', array('op' => 'del', 'id' => $item['id']))}" title="删除" class="btn btn-mini"><i class="icon-remove"></i></a>
					</td>
				</tr>
				
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
{elseif $op == 'top'}
<div class="main">

	<div style="padding:15px;">
	<form action="">
	<input type="hidden" name="act" value="module" />
	<input type="hidden" name="name" value="singerlist" />
	<input type="hidden" name="do" value="buyflower" />
	<input type="hidden" name="op" value="top" />
	<table class="table sub-search">
		<tbody>
			<tr>
					<th>排行榜时间</th>
					<td>
						<span style="" class="uneditable-input" id="date-range"><span class="date-title">{php echo date('Y-m-d', $starttime)} 至 {php echo date('Y-m-d', $endtime)}</span> <i class="icon-caret-down"></i></span>
						<input name="start" type="hidden" value="{php echo date('Y-m-d', $starttime)}" />
						<input name="end" type="hidden" value="{php echo date('Y-m-d', $endtime)}" />
					</td>
			</tr>
			<tr>
					<th></th>
					<td style="margin-left:50px"><input type="submit" value="搜索" class="btn btn-primary" style="margin-left: 80px"></td>
			</tr>
		</tbody>
	</table>
	</form>
	</div>

	<div style="padding:15px;">
		<table class="table table-hover table-striped">
			
			<thead class="navbar-inner">
				<tr>
					<th >歌手ID</th>
					<th >歌手名字</th>
					<th >送花总数量</th>
				</tr>
			</thead>
			<tbody>
					{loop $list $item}
				<tr>
					<td>{$item['singer_id']}</td>
					<td>{$item['singer_name']}</td>
					<td>{$item['send_total_amount']} (SGD)</td>
					
				</tr>
				
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>

<link type="text/css" rel="stylesheet" href="./resource/style/daterangepicker.css" />
<script type="text/javascript" src="./resource/script/daterangepicker.js"></script>
<script>
$(function() {
	
	$('#date-range').daterangepicker({
		format: 'YYYY-MM-DD',
		startDate: $(':hidden[name=start]').val(),
		endDate: $(':hidden[name=end]').val(),
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '至',
			weekLabel: '周',
			customRangeLabel: '日期范围',
			daysOfWeek: moment()._lang._weekdaysMin.slice(),
			monthNames: moment()._lang._monthsShort.slice(),
			firstDay: 0
		}
	}, function(start, end){
		$('#date-range .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
		$(':hidden[name=start]').val(start.format('YYYY-MM-DD'));
		$(':hidden[name=end]').val(end.format('YYYY-MM-DD'));
	});
});
</script>
{/if}
{template 'common/footer'}
